@font-face
  font-family: "IBM Plex Sans"
  font-weight: 400
  font-style: normal
  font-display: swap
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf')
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2')

@font-face
  font-family: "IBM Plex Sans"
  font-weight: 400
  font-style: italic
  font-display: swap
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf')
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff2')

@font-face
  font-family: "IBM Plex Sans"
  font-weight: 500
  font-style: normal
  font-display: swap
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf')
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff2')

@font-face
  font-family: "IBM Plex Sans"
  font-weight: 500
  font-style: italic
  font-display: swap
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf')
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff2')

@font-face
  font-family: "IBM Plex Sans"
  font-weight: 600
  font-style: normal
  font-display: swap
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf')
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2')

@font-face
  font-family: "IBM Plex Sans"
  font-weight: 600
  font-style: italic
  font-display: swap
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf')
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff2')
